<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.raghavsatyadev.moreapps"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        >
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/more_apps_channel_id"
            />
    </application>
</manifest>

